/* LOGIN PAGE STYLING */
.authentication {
  margin: auto;
  margin-top: 10vw;
  /* background-color: lightslategrey; */
  background-image: url("https://cdn.pixabay.com/photo/2015/11/08/05/58/scroll-1033117_960_720.jpg");
  height: 30vw;
  width: 30vw;
  text-align: center;
}

/* TITLE PAGE STYLING */
.titleContainer {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    color: red;
}
#torch {
  position: absolute;
  left: 50px;
  top: 175px;
}
#torches {
  position: absolute;
  right: 50px;
  top: 175px;
}

.img-thumbnail {
    animation: omgBox 4s;
    height: 50%;
    width: 35%;
    margin: auto;
    display: block
}

@keyframes omgBox {
    0% {
        transform: translate3d(0px, -150px, 0px);
        opacity: 5%;
    }
    50% {
        transform: translate3d(0px, 50px, 0px);
        opacity: 100%;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 100%;
    }
  }

  /* HOME PAGE LINKS STYLE */
  .nav-link {
    margin-top: 50px;
    color: white;
    font-size: 40px;

  }

  .nav-link:hover {
    color: white;
    text-shadow: 0 0 3px white;
  }

  .nav-link:active {
    color: yellow;
  }

  #reg-form {
    text-align: center;
    display: block;
    margin-top: 50px;
  }

 