#torch {
    position: absolute;
    left: 50px;
    top: 225px;
  }
  #torches {
    position: absolute;
    right: 50px;
    top: 225px;
  }

h1 {
  text-align: center;
  color: white;
  font-family: 'MedievalSharp', sans-serif;
}
#grid_one {
  overflow: scroll; 
}

#boxes {
  display: block;
  border: 6px solid red;
  background-color: black;
  width: 80%;
  margin: auto;
}


  /* Hides torches so they dont overlap with game */
  @media (max-width: 1300px) {
    #torch, #torches {
      display: none;
    }
  }

  #link{
      position: absolute;
      margin-left: -100px;
      margin-top: -100px;
  }

  #link {
    font-family: 'MedievalSharp', cursive;
  }