#text-box{
    /* margin-top: 375px; */
    display: block;
    position: relative;
    margin: 0px 0px 0px 0px ;
    width: 100%;
    border: 6px solid red;
    height: 200px;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    font-size: 20px;
    overflow: scroll;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

/* .container {
    width: 30px;
    max-width: 80%;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
  } */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 10px;
    
    
  }

.btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
.btn:hover {
    border-color: black;
  }

  /* WIP */
  #story-img {
    height: 39vh;
    width: 100%;
    margin-bottom: 0;
  }